body {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 45px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 25px;
}

.frame {
    margin-top: 5px;
    height: 930px;
    width: 860px;
    border: 4px solid black;
    background-color: red;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-container {
    height: 660px;
    width: 660px;
    border: 1px solid black;
    display: grid;
}

.grid-square {
    background-color: lightgrey;
    border: 1px solid black;
}

label,
.grid-size {
    font-size: 18px;
}

#menu {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px;
    /* one row with variable height */
    align-items: center;
    /* center elements vertically */
    font-weight: 500;
}

.slider {
    grid-column: 1;
}

.color-picker-div {
    grid-column: 1;
    grid-row: 3;
}

button {
    grid-column: 3;
    grid-row: 2;
    margin-top: 10px;
    width: fit-content;
    /* Variables */
    --button_radius: 0.75em;
    --button_color: lightgrey;
    --button_outline_color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: grid;
    width: fit-content;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.slidecontainer {
    width: 660px;
    margin-right: 5px;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: lightgrey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #7c3939;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7c3939;
    cursor: pointer;
}