body {
    margin: 0;
    background-image: url("./images/background1.jpg");
    background-size: cover;
    background-position: center center;
}

nav {
    color: white;
    margin-left: 10px;
}

.title {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: darkslateblue;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.title:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
}

.title {
    margin-top: 45px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 25px;
}

.frame {
    margin-top: 5px;
    height: 900px;
    width: 860px;
    border: 4px solid black;
    background-color: rgba(77, 48, 102, 255);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-container {
    height: 660px;
    width: 660px;
    border: 1px solid black;
    display: grid;
}

.grid-square {
    background-color: lightgrey;
    border: 1px solid black;
}

label,
.grid-size {
    font-size: 18px;
}

#menu {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px;
    /* one row with variable height */
    align-items: center;
    /* center elements vertically */
    font-weight: 500;
}

.slider {
    grid-column: 1;
}

.color-picker-div {
    grid-column: 1;
    grid-row: 3;
}

.color-picker {
    background: darkslateblue;
    border-radius: 10px;
}

.reset-btn {
    grid-column: 3;
    grid-row: 2;
    margin-top: 10px;
    width: fit-content;
    /* Variables */
    --button_radius: 0.75em;
    --button_color: lightgrey;
    --button_outline_color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_right {
    display: grid;
    background-color: darkslateblue;
    width: fit-content;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background-color: darkslateblue;
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.color-btn {
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
    width: 145px;
    height: 52px;
    /* Variables */
    --button_radius: 0.75em;
    --button_color: lightgrey;
    --button_outline_color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_left {
    display: grid;
    align-content: center;
    background-color: darkslateblue;
    width: 80.922px;
    height: 20px;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background-color: darkslateblue;
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_left,
button:hover .button_right {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_left,
button:active .button_right {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.slidecontainer {
    width: 660px;
    margin-right: 5px;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: darkslateblue;
    ;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgba(55, 52, 73, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(55, 52, 73, 255);
    cursor: pointer;
}