body {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 45px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 25px;
}

.frame {
    margin-top: 50px;
    height: 850px;
    width: 750px;
    border: 1px solid red;
    background-color: red;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-container {
    height: 550px;
    width: 550px;
    border: 1px solid black;
    display: grid;
}

.grid-square {
    background-color: white;
    border: 1px solid black;
}

.slidecontainer {
    width: 550px;
    margin-right: 5px;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #7c3939;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7c3939;
    cursor: pointer;
}